<form>
  <input name="search" #queryRef="ngModel" type="search" class="input" [(ngModel)]="query" required minlength="2">
  <p class="help is-danger" *ngIf="queryRef.errors?.minlength">
    too short
  </p>
  <button type="button" [disabled]="queryRef.invalid" class="button is-primary" (click)="search(query)">search</button>
</form>

<h2 class="subtitle">Results: {{timer$ | async}}</h2>

<div class="columns is-multiline">
  <div class="column is-4" *ngFor="let show of shows$ | async">
    <st-poster [show]="show"></st-poster>
  </div>
</div>
